<footer class="footer">
  <section class="container">
    <div style="display: flex; justify-content: space-between; align-items: center; gap: 1em;">
      <div>
        ©
        {{ if (and .Site.Params.since (lt .Site.Params.since now.Year)) }}
        {{ .Site.Params.since }} -
        {{ end }}
        {{ now.Year }}
        {{ with .Site.Params.author }} {{ . }} {{ end }}
      </div>
      <button id="dark-mode-toggle" class="theme-toggle" type="button" aria-label="Toggle color scheme">
        <i class="fa-solid fa-adjust fa-2x fa-fw" aria-hidden="true"></i>
      </button>
    </div>
  </section>
</footer>
